@page "/Cement"
@using HouseBudget.Data
@inject SandraBudgetService sandraBudgetService



<h3>Cement</h3>



<form class="mt-5">


<div class="row">

       <div class="col">
        <label class="control-label"> Id </label>
        <input class="form-control" @bind="@sandra.Id" />
    </div>

    <div class="col">
        <label class="control-label"> Description </label>
        <input class="form-control" @bind="@sandra.Description" />
    </div>

     <div class="col">
        <label class="control-label"> Unit </label>
        <input class="form-control" @bind="@sandra.Unit" />
    </div>

     <div class="col">
        <label class="control-label"> Quantity </label>
        <input class="form-control" @bind="@sandra.Quantity" />
    </div>

     <div class="col">
        <label class="control-label"> Price </label>
        <input class="form-control" @bind="@sandra.Price" />
    </div>

      <div class="col">
        <label class="control-label"> Date </label>
        <input class="form-control" @bind="@sandra.Date" />
    </div>

</div>
<br/><br/>
<div class="row mt-2">
    <div class="col">
        <Button class="btn btn-primary btn-lg" onclick="@CreateSandra"> Add </Button>
    </div>

    <br/>

</div>
</form>

<hr/>

<table class ="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>

             <th>
                Id
            </th>
            
            <th>
                Description
            </th>

            <th>
               Unit
            </th>

            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Date
            </th>
        </tr>
        
                    </thead>

        <tbody>
            @foreach(Sandra sandra in sandras)
            {
                <tr>
                     <td>
                        @sandra.Id
                    </td>

                    <td>
                        @sandra.Description
                    </td>
                    <td>
                        @sandra.Unit
                    </td>
                    <td>
                        @sandra.Quantity
                    </td>
                    <td>
                        @sandra.Price
                    </td>
                    <td>
                        @sandra.Date
                    </td>
                </tr>
            }
        </tbody>
    
</table>
<br/><br/>
<div class="text-black san">

 <h2 class="san"> Total Quantity =  @sandras.Sum(i=>i.Quantity) </h2>
   


 <h2 class="san1"> Total Price =   @sandras.Sum(i=>i.Price) $ </h2>
 </div>






@code {

    List<Sandra> sandras = new List<Sandra>();

    Sandra sandra = new Sandra();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        sandras = await sandraBudgetService.GetSandras();

    }
    protected async void CreateSandra()
    {
        await sandraBudgetService.addSandraEntry(sandra);
    }

 

}



